.place {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}

.token {
    fill: white;
    stroke: white;
    stroke-width: 1px;
}

.tokenClick {
    fill: black;
    stroke: black;
}

.transition {
    stroke: grey;
    fill: grey;
}

.transitionActive {
    stroke: orange;
    fill: orange;
}

.arc {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

.parentArc {
    stroke-width: 0px;
    stroke: red;
    fill: none;
}

.label {
    font-size: xx-small;
    paint-order: stroke;
    stroke: white;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: bold;
}
